@import url("https://fonts.googleapis.com/css2?family=DM+Mono&display=swap");
/* ir-black tomorrow-night-bright */
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/night-owl.min.css"); */
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/ir-black.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
header,
footer,
head {
  @apply text-brand-100 bg-brand-1000;
}

.intro-bg {
  @apply bg-brand-900;
}

a[data-link] {
  @apply text-brand-400 underline underline-offset-2 hover:text-sky-500;
}

img[data-content-image] {
  @apply mx-auto my-10;
  max-width: 80%;
}

code,
pre {
  @apply rounded-lg;
  font-size: 1rem;
  font-family: "DM Mono", monospace;
}

code + code,
pre + pre {
  @apply my-7;
}

code.inline-code {
  @apply text-brand-400;
}

/* Scrollbar custom */

::-webkit-scrollbar-track,
::-webkit-scrollbar-track:horizontal {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #333;
}

::-webkit-scrollbar,
::-webkit-scrollbar:horizontal {
  width: 10px;
  height: 8px;
  background-color: #6e6e6e;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:horizontal {
  background-color: #6e6e6e;
}
